<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>TwitchStats</title>
</head>

<body>
<div class="alert alert-warning" role="alert">
    This site is still in development! Expected date of going live: Soon™
</div>
</br>
</br>
<!-- Generate the search form. -->
<form>
    <div class="form-group">
        <div class="col-sm-5">
            {{ form.as_p }}
            <p>
                <button class="btn btn-primary" type="submit">Get streams</button>
            </p>


        </div>
    </div>
</form>
{% if response %}
    <div class="card-deck">
        {% for e in response %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ e.thumbnail_url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <a href="https://www.twitch.tv/{{ e.user_name }}" target="_blank">
                            <h5 class="card-title">{{ e.title }}</h5></a>
                            <p class="card-text">user name: {{ e.user_name }}</p>
                            <p class="card-text">viewer_count: {{ e.viewer_count }}</p>
                            <p class="card-text">language: {{ e.language }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
</br>
{% if maxv %}
    max viewers {{ maxv }}
{% endif %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>